.card {
  background-color: cadetblue;
  color: antiquewhite;
  margin-top: 50px;
  margin-left: 170px;
}
.submitis {
  width: 210px;
}
.back {
  color: antiquewhite;
  display: flex;
  justify-content: center;
}
.title {
  font-weight: bold;
}
.inner {
  height: 250px;
}
